www/php/
platforms/browser/browser.json
platforms/browser/config.xml
platforms/browser/cordova/defaults.xml
platforms/browser/www/about.html
platforms/browser/www/config.xml
platforms/browser/www/css/framework7.ios.colors.css
platforms/browser/www/css/framework7.ios.colors.min.css
platforms/browser/www/css/framework7.ios.css
platforms/browser/www/css/framework7.ios.min.css
platforms/browser/www/css/framework7.ios.rtl.css
platforms/browser/www/css/framework7.ios.rtl.min.css
platforms/browser/www/css/framework7.material.colors.css
platforms/browser/www/css/framework7.material.colors.min.css
platforms/browser/www/css/framework7.material.css
platforms/browser/www/css/framework7.material.min.css
platforms/browser/www/css/framework7.material.rtl.css
platforms/browser/www/css/framework7.material.rtl.min.css
platforms/browser/www/css/materialdesignicons.min.css
platforms/browser/www/css/my-app.css
platforms/browser/www/enviando-spotcheck.html
platforms/browser/www/fonts/materialdesignicons-webfont.eot
platforms/browser/www/fonts/materialdesignicons-webfont.svg
platforms/browser/www/fonts/materialdesignicons-webfont.ttf
platforms/browser/www/fonts/materialdesignicons-webfont.woff
platforms/browser/www/fonts/materialdesignicons-webfont.woff2
platforms/browser/www/form.html
platforms/browser/www/img/graf1.jpg
platforms/browser/www/img/graf2.jpg
platforms/browser/www/img/graf3.jpg
platforms/browser/www/img/graf4.jpg
platforms/browser/www/img/i-f7-ios.png
platforms/browser/www/img/i-f7-material.png
platforms/browser/www/img/i-form-calendar-ios.svg
platforms/browser/www/img/i-form-calendar-material.svg
platforms/browser/www/img/i-form-comment-ios.svg
platforms/browser/www/img/i-form-comment-material.svg
platforms/browser/www/img/i-form-email-ios.svg
platforms/browser/www/img/i-form-email-material.svg
platforms/browser/www/img/i-form-gender-ios.svg
platforms/browser/www/img/i-form-gender-material.svg
platforms/browser/www/img/i-form-name-ios.svg
platforms/browser/www/img/i-form-name-material.svg
platforms/browser/www/img/i-form-password-ios.svg
platforms/browser/www/img/i-form-password-material.svg
platforms/browser/www/img/i-form-settings-ios.svg
platforms/browser/www/img/i-form-settings-material.svg
platforms/browser/www/img/i-form-tel-ios.svg
platforms/browser/www/img/i-form-tel-material.svg
platforms/browser/www/img/i-form-toggle-ios.svg
platforms/browser/www/img/i-form-toggle-material.svg
platforms/browser/www/img/i-form-url-ios.svg
platforms/browser/www/img/i-form-url-material.svg
platforms/browser/www/img/ideal.jpg
platforms/browser/www/img/trend.png
platforms/browser/www/img/trend2.png
platforms/browser/www/index.html
platforms/browser/www/js/camera/.gitattributes
platforms/browser/www/js/camera/.gitignore
platforms/browser/www/js/camera/CONTRIBUTING.md
platforms/browser/www/js/camera/LICENSE
platforms/browser/www/js/camera/NOTICE
platforms/browser/www/js/camera/README.md
platforms/browser/www/js/camera/RELEASENOTES.md
platforms/browser/www/js/camera/doc/de/README.md
platforms/browser/www/js/camera/doc/de/index.md
platforms/browser/www/js/camera/doc/es/README.md
platforms/browser/www/js/camera/doc/es/index.md
platforms/browser/www/js/camera/doc/fr/README.md
platforms/browser/www/js/camera/doc/fr/index.md
platforms/browser/www/js/camera/doc/img/android-fail.png
platforms/browser/www/js/camera/doc/img/android-success.png
platforms/browser/www/js/camera/doc/img/blackberry-fail.png
platforms/browser/www/js/camera/doc/img/blackberry-success.png
platforms/browser/www/js/camera/doc/img/browser-fail.png
platforms/browser/www/js/camera/doc/img/browser-success.png
platforms/browser/www/js/camera/doc/img/firefox-fail.png
platforms/browser/www/js/camera/doc/img/firefox-success.png
platforms/browser/www/js/camera/doc/img/fireos-fail.png
platforms/browser/www/js/camera/doc/img/fireos-success.png
platforms/browser/www/js/camera/doc/img/ios-fail.png
platforms/browser/www/js/camera/doc/img/ios-success.png
platforms/browser/www/js/camera/doc/img/ubuntu-fail.png
platforms/browser/www/js/camera/doc/img/ubuntu-success.png
platforms/browser/www/js/camera/doc/img/windows-fail.png
platforms/browser/www/js/camera/doc/img/windows-success.png
platforms/browser/www/js/camera/doc/img/wp8-fail.png
platforms/browser/www/js/camera/doc/img/wp8-success.png
platforms/browser/www/js/camera/doc/it/README.md
platforms/browser/www/js/camera/doc/it/index.md
platforms/browser/www/js/camera/doc/ja/README.md
platforms/browser/www/js/camera/doc/ja/index.md
platforms/browser/www/js/camera/doc/ko/README.md
platforms/browser/www/js/camera/doc/ko/index.md
platforms/browser/www/js/camera/doc/pl/README.md
platforms/browser/www/js/camera/doc/pl/index.md
platforms/browser/www/js/camera/doc/ru/index.md
platforms/browser/www/js/camera/doc/zh/README.md
platforms/browser/www/js/camera/doc/zh/index.md
platforms/browser/www/js/camera/jsdoc2md/TEMPLATE.md
platforms/browser/www/js/camera/package.json
platforms/browser/www/js/camera/plugin.xml
platforms/browser/www/js/camera/src/android/CameraLauncher.java
platforms/browser/www/js/camera/src/android/ExifHelper.java
platforms/browser/www/js/camera/src/android/FileHelper.java
platforms/browser/www/js/camera/src/blackberry10/index.js
platforms/browser/www/js/camera/src/browser/CameraProxy.js
platforms/browser/www/js/camera/src/firefoxos/CameraProxy.js
platforms/browser/www/js/camera/src/ios/CDVCamera.h
platforms/browser/www/js/camera/src/ios/CDVCamera.m
platforms/browser/www/js/camera/src/ios/CDVExif.h
platforms/browser/www/js/camera/src/ios/CDVJpegHeaderWriter.h
platforms/browser/www/js/camera/src/ios/CDVJpegHeaderWriter.m
platforms/browser/www/js/camera/src/ios/UIImage+CropScaleOrientation.h
platforms/browser/www/js/camera/src/ios/UIImage+CropScaleOrientation.m
platforms/browser/www/js/camera/src/ubuntu/CaptureWidget.qml
platforms/browser/www/js/camera/src/ubuntu/back.png
platforms/browser/www/js/camera/src/ubuntu/camera.cpp
platforms/browser/www/js/camera/src/ubuntu/camera.h
platforms/browser/www/js/camera/src/ubuntu/shoot.png
platforms/browser/www/js/camera/src/ubuntu/toolbar-left.png
platforms/browser/www/js/camera/src/ubuntu/toolbar-middle.png
platforms/browser/www/js/camera/src/ubuntu/toolbar-right.png
platforms/browser/www/js/camera/src/windows/CameraProxy.js
platforms/browser/www/js/camera/src/wp/Camera.cs
platforms/browser/www/js/camera/tests/ios/.gitignore
platforms/browser/www/js/camera/tests/ios/CDVCameraTest.xcworkspace/contents.xcworkspacedata
platforms/browser/www/js/camera/tests/ios/CDVCameraTest.xcworkspace/xcshareddata/CDVCameraTest.xccheckout
platforms/browser/www/js/camera/tests/ios/CDVCameraTest.xcworkspace/xcshareddata/xcschemes/CordovaLib.xcscheme
platforms/browser/www/js/camera/tests/ios/CDVCameraTest/CDVCameraLibTests/CameraTest.m
platforms/browser/www/js/camera/tests/ios/CDVCameraTest/CDVCameraLibTests/Info.plist
platforms/browser/www/js/camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/project.pbxproj
platforms/browser/www/js/camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
platforms/browser/www/js/camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/project.xcworkspace/xcshareddata/CDVCameraTest.xccheckout
platforms/browser/www/js/camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/xcshareddata/xcschemes/CDVCameraLib.xcscheme
platforms/browser/www/js/camera/tests/ios/CDVCameraTest/CDVCameraTest.xcodeproj/xcshareddata/xcschemes/CDVCameraLibTests.xcscheme
platforms/browser/www/js/camera/tests/ios/README.md
platforms/browser/www/js/camera/tests/ios/doc/de/README.md
platforms/browser/www/js/camera/tests/ios/doc/es/README.md
platforms/browser/www/js/camera/tests/ios/doc/fr/README.md
platforms/browser/www/js/camera/tests/ios/doc/it/README.md
platforms/browser/www/js/camera/tests/ios/doc/ja/README.md
platforms/browser/www/js/camera/tests/ios/doc/ko/README.md
platforms/browser/www/js/camera/tests/ios/doc/pl/README.md
platforms/browser/www/js/camera/tests/ios/doc/zh/README.md
platforms/browser/www/js/camera/tests/ios/package.json
platforms/browser/www/js/camera/tests/plugin.xml
platforms/browser/www/js/camera/tests/tests.js
platforms/browser/www/js/camera/www/Camera.js
platforms/browser/www/js/camera/www/CameraConstants.js
platforms/browser/www/js/camera/www/CameraPopoverHandle.js
platforms/browser/www/js/camera/www/CameraPopoverOptions.js
platforms/browser/www/js/camera/www/blackberry10/assets/camera.html
platforms/browser/www/js/camera/www/blackberry10/assets/camera.js
platforms/browser/www/js/camera/www/ios/CameraPopoverHandle.js
platforms/browser/www/js/filetransfer/.gitignore
platforms/browser/www/js/filetransfer/.jscsrc
platforms/browser/www/js/filetransfer/.jshintrc
platforms/browser/www/js/filetransfer/CONTRIBUTING.md
platforms/browser/www/js/filetransfer/LICENSE
platforms/browser/www/js/filetransfer/NOTICE
platforms/browser/www/js/filetransfer/README.md
platforms/browser/www/js/filetransfer/RELEASENOTES.md
platforms/browser/www/js/filetransfer/doc/de/README.md
platforms/browser/www/js/filetransfer/doc/de/index.md
platforms/browser/www/js/filetransfer/doc/es/README.md
platforms/browser/www/js/filetransfer/doc/es/index.md
platforms/browser/www/js/filetransfer/doc/fr/README.md
platforms/browser/www/js/filetransfer/doc/fr/index.md
platforms/browser/www/js/filetransfer/doc/it/README.md
platforms/browser/www/js/filetransfer/doc/it/index.md
platforms/browser/www/js/filetransfer/doc/ja/README.md
platforms/browser/www/js/filetransfer/doc/ja/index.md
platforms/browser/www/js/filetransfer/doc/ko/README.md
platforms/browser/www/js/filetransfer/doc/ko/index.md
platforms/browser/www/js/filetransfer/doc/pl/README.md
platforms/browser/www/js/filetransfer/doc/pl/index.md
platforms/browser/www/js/filetransfer/doc/ru/index.md
platforms/browser/www/js/filetransfer/doc/zh/README.md
platforms/browser/www/js/filetransfer/doc/zh/index.md
platforms/browser/www/js/filetransfer/package.json
platforms/browser/www/js/filetransfer/plugin.xml
platforms/browser/www/js/filetransfer/src/amazon/FileTransfer.java
platforms/browser/www/js/filetransfer/src/android/FileProgressResult.java
platforms/browser/www/js/filetransfer/src/android/FileTransfer.java
platforms/browser/www/js/filetransfer/src/android/FileUploadResult.java
platforms/browser/www/js/filetransfer/src/ios/CDVFileTransfer.h
platforms/browser/www/js/filetransfer/src/ios/CDVFileTransfer.m
platforms/browser/www/js/filetransfer/src/ubuntu/file-transfer.cpp
platforms/browser/www/js/filetransfer/src/ubuntu/file-transfer.h
platforms/browser/www/js/filetransfer/src/windows/FileTransferProxy.js
platforms/browser/www/js/filetransfer/src/wp/FileTransfer.cs
platforms/browser/www/js/filetransfer/tests/plugin.xml
platforms/browser/www/js/filetransfer/tests/tests.js
platforms/browser/www/js/filetransfer/www/FileTransfer.js
platforms/browser/www/js/filetransfer/www/FileTransferError.js
platforms/browser/www/js/filetransfer/www/blackberry10/FileTransfer.js
platforms/browser/www/js/filetransfer/www/blackberry10/FileTransferProxy.js
platforms/browser/www/js/filetransfer/www/blackberry10/xhrFileTransfer.js
platforms/browser/www/js/filetransfer/www/browser/FileTransfer.js
platforms/browser/www/js/filetransfer/www/firefoxos/FileTransferProxy.js
platforms/browser/www/js/filetransfer/www/wp7/base64.js
platforms/browser/www/js/framework7.js
platforms/browser/www/js/framework7.js.map
platforms/browser/www/js/framework7.min.js
platforms/browser/www/js/framework7.min.js.map
platforms/browser/www/js/indexeddb.js
platforms/browser/www/js/jquery-1.11.3.min.js
platforms/browser/www/js/jquery.ajax-progress.js
platforms/browser/www/js/md5.min.js
platforms/browser/www/js/md5.min.js.map
platforms/browser/www/js/my-app.js
platforms/browser/www/login.html
platforms/browser/www/programacao-atual.html
platforms/browser/www/registra-rd.html
platforms/browser/www/registra-sim.html
platforms/browser/www/registra-solucao.html
platforms/browser/www/registra-tn.html
platforms/browser/www/selecionar-empresa.html
platforms/browser/www/selecionar-obra.html
platforms/browser/www/selecionar-spotcheck.html
platforms/browser/www/spotcheck-inicio.html
platforms/browser/www/spotcheck-justificar.html
platforms/browser/www/spotcheck-pergunta.html
platforms/browser/www/ver-resposta.html
